form {
  margin-left:0;
  margin-right:0;
}

input#loadbutton {
  font-size: 10px;
}

/* #options, #cell-lines */
.collapser div {
  overflow-y: hidden;
}

/*#add-selected-lines, #remove-selected-lines*/
.addremovebtn {
  font-size: 200%;
  text-align:middle;
}

#spinner {
  padding: 10px 20px;
  display: none; /* by default */
}

#modeselection p {
  text-align: center;
}

#modeselection label {
  /*padding:0 2em;*/
  vertical-align:middle;
  width:auto;
}

#phenotypes-cell {
    display:none;
}

#pheno-explain {
  padding:0.8em;
  background-color: #efefef;
  width: 350px;
  max-height: 100px;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0.5em;
}

#pheno-explain p {
  margin:0.5em;
}

#up-bases, #down-bases {
  width:100px;
}

#header h1 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

#header h3 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#toolname {
  left:40px;
}

#cressint-logo {
  position: absolute;
  left:10px;
  bottom:10px;
}

#cressint-logo img {
  position: relative;
  height: 95px;
  width: auto;
  right: auto;
}

/* Styling for description lists (used on the FAQ page and elsewhere) */

div.info-list {
  position:relative;
  margin:3em 0 1.5em;
  max-width: 800px;
  border: 1px solid #CCC;
  padding: 2em 5em 3em 3em;
  border-radius: 5px;
}

div.info-list > h1 {
  margin-bottom: 1.5em;
  position: absolute;
  display: block;
  top: -1.5em;
  background-color: white;
  padding: 0 5px;
}

.info-list > ol {
  /* FIXME */
  list-style-type: none;
}

.info-list ol > li > dl > dt {
  font-size: large;
  font-family:"Titillium Web",Trebuchet,Arial,sans-serif;
}

.info-list dl dl dt {
  font-size:12pt;
  font-family: inherit;
  margin: 0.5em 0;
}

.info-list dt {
  font-style: bold;
  padding: 0.2em 0.5em;
}
.info-list dd {
  margin-left: 2em;
}

.info-list table {
  border-collapse:collapse;
}
.info-list th {
  font-size:medium;
  text-align:left;
  padding-bottom:0.5em;
}
.info-list td {
  padding:0.3em;
}

#right-toc {
  float:right;
  margin:4em 0 2em 2em;
  background:#ddd;
  padding:0.25em 2.5em 1.5em 2em;
  border-radius:5px;
}

#right-toc li {
  list-style-type: none;
  padding-left: inherit;
}

/* Source: https://css-tricks.com/on-target */
:target {
  /*-webkit-animation: highlight 2s 1;
  -moz-animation: highlight 2s 1;*/
  animation: highlight 1.5s 1;
}

/*@-webkit-keyframes highlight {
  0% { background-color: rgba(255,221,13,0.5); }
  100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes highlight {
  0% { background-color: rgba(255,221,13,0.5); }
  100% { background-color: rgba(0,0,0,0); }
}*/
@keyframes highlight {
  0% {
    background-color: rgba(255,221,13,0.5);
    box-shadow: 0 0 10px rgba(255,221,13,0.6);
    border-radius: 5px;
  }
  100% {
    background-color: rgba(0,0,0,0);
    box-shadow: 0 0 10px rgba(255,221,13,0);
    border-radius: 5px;
    /*border-radius: 15px;*/
  }
}

/* #right-toc li:before {
  content:'-';
} */
                        

/* When the viewport is narrower than ~980 px, the pheno-explain div starts
   to run into the select box. This CSS media query "unsticks" it from the
   right side of the fieldset and lets it flow below the select box. */
@media only screen and (max-width: 980px) {
  #pheno-explain {
    width: auto;
    margin: 1em;
    position: inherit;
  }
}
