{#################################################
 #
 #    
 #    Twig template for Cressint datasources.html.twig
 #    
 #
 #    Authors:    K. Ernst, F. Soman
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}
{% macro pubmedlink(pmid, linktext) %}
<a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ pmid }}">{{ linktext|default(pmid) }}</a>
{%- endmacro %}
{% macro sralink(srano, linktext) %}
<a href="https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{ srano }}">{{ linktext|default(srano) }}</a>
{%- endmacro %}
{% macro geolink(accno, linktext) %}
<a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc={{ accno }}">{{ linktext|default(accno) }}</a>
{%- endmacro %}
{% import _self as me %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">    
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}


{% block main %}
<div class="info-list">
  <h1>Available Datasets for CressInt</h1>
  <table valign="top">
    <tr>
      <th style="width:25%;">Datatype</th>
      <th style="width:30%;">Source</th>
      <th>Description</th>
      <th>Date&nbsp;added</th>
    </tr>
    <tr>
      <td>TF DNA binding </td>
      <td><a href="http://www.cell.com/cell/abstract/S0092-8674(14)01036-8?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0092867414010368%3Fshowall%3Dtrue" >
      Weirauch <em>et al.</em>, 2014</a></td>
      <td>CisBP database, which contains thousands of TF binding models across eukaryotes</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>DNase-seq</td>
      <td><a href="http://www.cell.com/cell-reports/abstract/S2211-1247(14)00682-2?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2211124714006822%3Fshowall%3Dtrue" >
      Sullivan <em>et al.</em>, 2014</a></td>
      <td>Genome-wide mapping of DNas hypersensitive sites in <em>A. thaliana</em> seedlings</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>Genetic variants and eQTLs</td>
      <td><a
          href="http://www.nature.com/nature/journal/v477/n7365/full/nature10414.html">Gan
          <em>et al.</em>, 2011</a>
      </td>
      <td>Multiple reference genomes and transcriptomes 19 for <em>A. thaliana</em> strains</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>GWAS</td>
      <td><a href="http://www.nature.com/nature/journal/v465/n7298/full/nature08800.html">
      Atwell <em>et al.</em>, 2010</a> </td>
      <td>Genome-wide association study of 107 phenotypes in <em>A. thaliana</em> inbred lines</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://www.tandfonline.com/doi/pdf/10.1080/21553769.2013.844734">
      Chica <em>et al.</em>, 2013</a></td>
      <td>H3K4me3 and H3K27me3 marks in leaves</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://www.nature.com/articles/nplants201423">
      Willing <em>et al.</em>, 2015</a></td>
      <td>H3K27me1 marks in leaves</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://www.plantcell.org/content/25/7/2482.long">
      O'Maoileidigh <em>et al.</em>, 2013</a></td>
      <td>AG binding in inflorescences</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://genomebiology.com/content/15/3/R41">
      Pajoro <em>et al.</em>, 2014</a></td>
      <td>AP1 and SEP3 binding in inflorescences</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
    <td>ChIP-seq</td>
      <td><a href="http://www.pnas.org/content/109/33/13452.long">
      Wuest <em>et al.</em>, 2012 </a></td>
      <td>AP3 and PI binding in flowers</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://elifesciences.org/content/3/e03031">
      Oh <em>et al.</em>, 2014</a> </td>
      <td>ARF6 binding in seedlings</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="https://www.sciencemag.org/content/342/6160/860?related-urls=yes&legid=sci;342/6160/860">
      Heyman <em>et al.</em>, 2013</a> </td>
      <td>ERF115 binding in dark growing cells</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
    <td>ChIP-seq</td>
      <td><a href="http://www.plantcell.org/content/26/2/828">
      Fan <em>et al.</em>, 2014 </a> </td>
      <td>ERF115 binding in dark growing cells</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://www.pnas.org/content/111/7/2824.full">
      Zhiponova <em>et al.</em>, 2014 </a> </td>
      <td>IBL1 binding in seedlings</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://www.plantcell.org/content/23/4/1293.long">
      Moyroud <em>et al.</em>, 2011</a> </td>
      <td>LFY binding in seedlings</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://www.cell.com/molecular-plant/abstract/S1674-2052(14)60966-7?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS1674205214609667%3Fshowall%3Dtrue">
      Pfeiffer <em>et al.</em>, 2014 </a> </td>
      <td>PIF1 binding in seedlings</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1003244">
      Zhang <em>et al.</em>, 2013</a> </td>
      <td>PIF3 binding in seedlings</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://onlinelibrary.wiley.com/doi/10.1111/j.1365-313X.2012.05049.x/abstract">
      Brandt <em>et al.</em>, 2012 </a> </td>
      <td>REV binding in seedlings</td>
      <td><em>orig. release</em></td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td><a href="http://www.sciencemag.org/content/336/6077/75.long">
      Huang <em>et al.</em>, 2012 </a> </td>
      <td>TOC1 binding in seedlings</td>
      <td><em>orig. release</em></td>
    </tr>

    <!-- New datasets added 2016-02-27 -->
    <tr id="build_1.1" colspan=4"><th>Build 1.1</th></tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(21464308, "Deng et al., 2011") }}</td>
      <td>FLC binding in&nbsp;quiescent center cells</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(20360106, "Kaufmann et al., 2010") }}</td>
      <td>AP1 binding in apical meristematic tissue</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(19767455, "Zheng et al., 2009") }}</td>
      <td>AGL-15 binding in embyonic culture</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(23314941, "Wang and Perry, 2013") }}</td>
      <td>FUS3 binding in embyonic culture</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(20675573, "Yant et al., 2010") }}</td>
      <td>AP2 binding inflorescence</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(21214652, "Yu et al., 2011") }}</td>
      <td>BES1 binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <!-- unpublished -->
      <td>(SRA no. {{ me.sralink('SRP017902') }})</td>
      <td>EIN3 binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(21803941, "Ouyang et al., 2011") }}</td>
      <td>FHY3 binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(24067612, "Posé et al., 2013") }}</td>
      <td>FLM binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <!-- unpublished  -->
      <td>(GEO acc. no {{ me.geolink('GSE35315') }})</td>
      <td>PIF4 binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <!-- unpublished -->
      <td>(GEO acc. no {{ me.geolink('GSE35059') }})</td>
      <td>PIF5 binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(23808423, "Liu et al., 2013") }}</td>
      <td>PRR7 binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(19582143, "Mathieu et al., 2009") }}</td>
      <td>SMZ binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(22268548, "Tao et al., 2012") }}</td>
      <td>SOC1 binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(22268548, "Tao et al., 2012") }}</td>
      <td>SVP binding in seedling</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(23143274, "Breuer et al., 2012") }}</td>
      <td>GTL1 binding in whole plant</td>
      <td>2016-02-27</td>
    </tr>
    <tr>
      <td>ChIP-seq</td>
      <td>{{ me.pubmedlink(23027938, "Nakamichi et al., 2012") }}</td>
      <td>PRR5 binding in whole plant</td>
      <td>2016-02-27</td>
    </tr>

  </table>
</div>   <!-- f -->
{% endblock %}
