{#################################################
 #
 #    Twig template for BedInt's 'display.php'
 #
 #    Author:  ern6xv (Kevin.Ernst@cchmc.org)
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}
{% import 'assets.twig' as assets %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{{ assets.fontawesome() }}
{{ assets.datatables_css() }}
  <!--link href="/assets/vendor/jsmodal/css/jsmodal-light.css" rel="stylesheet"
   type="text/css" /-->
  <link href="/assets/css/tabtable.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/showhide.css" rel="stylesheet" type="text/css">
  <link href="/cressint/css/cressint.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}

{% block main %}
{# The results table shown when you visit /<toolname>/results/<jobid> #}
    <p id="top">
{#-     <a href="/{{ toolname }}/results" title="Go back to results list">
         &laquo; Back to all results</a> | -#}
      <a href="/{{ toolname }}" title="Submit a new {{ propername }} job">
        &laquo; Submit a new {{ propername }} job</a> |
       <a href="#downloads">Output files</a> |
       <a href="#results">Results</a>
{%- if devserver %}
       | <a href="#cmdoutput">Command-line output</a>
{%- endif -%}
    </p>

    <table class="fiftyfifty" id="output-options">
      <tbody><tr>
        <td id="downloads">
          <div class="collapser">
            <h2 id="outputfiles-toggle">Output for "{{ jobname }}"</h2>
            <!-- outputfiles -->
            <div id="outputfiles" class="collapser-section">
              {{ outputfiles|raw }}
            </div>
          </div> <!--/.collapser-->
        </td>
{%- if haveextviews -%}
{#- FIXME with CSS -#}
        <!--td width="10"></td-->
        <td id="external">
          <div class="collapser">
            <h2 id="extviews-toggle">External views</h2>
            <div id="extviews" class="collapser-section">
              {{ externalviews|raw }}
            </div>
          </div> <!--/.collapser-->
        </td> <!-- /#external -->
{%- endif -%}
      </tr></tbody>
    </table> <!-- /#output-options -->

    <h2 id="results">Intersection results
{%- if devserver -%}
      <small>
        [<a href="?purge" title="Re-read results from filesystem, discarding cached copy">purge cache</a>]
      </small>
{%- endif -%}
      <a href="#top" title="Go back to top of page"><i style="margin:0 5px"
        class="fa fa-angle-double-up"></i></a>
    </h2>

    <!-- results -->
    <!--button id="trunctoggle">Wrap/truncate</button-->
    <button id="constraintoggle">Constrain/unconstrain</button>
    <div id="message">Computing column widths...</div>
    {{ results|raw }}

{%- if devserver -%}
    <h2 id="cmdoutput">Command-line output
      <a href="#top" title="Go back to top of page">
        <i style="margin:0 5px" class="fa fa-angle-double-up"></i></a>
    </h2>
    <!-- cmdoutput -->
    {{ cmdoutput|raw}}
{%- endif -%}

    <p><a href="#top">
      <i style="margin-right:5px" class="fa fa-angle-double-up">
      </i>Back to top</a></p>
{% endblock %}

{% block footerjs %}
{# DataTables JavaScript assets #}
{{ assets.datatables_js() }}
  <script src="/assets/vendor/jsmodal/js/jsmodal-1.0d.min.js"></script>
  <!-- Utility functions for wrangling unruly tables (+CressInt mods) -->
  <script src="/cressint/js/tabtable.js"></script>
  <!-- Utility functions for collapsing/uncollapsing elements -->
  <script src="/assets/js/showhide.js"></script>
  <!-- Functions for interacting with the UCSC GB -->
  <script src="/cressint/js/ucsc_utils.js"></script>

  <script type="text/javascript" charset="utf-8">
    'use strict';

    // See: http://legacy.datatables.net/ref and
    // http://legacy.datatables.net/release-datatables/examples/plug-ins/sorting_sType.html
    jQuery.extend(jQuery.fn.dataTableExt.oSort,
      {
        'scientific-pre': function ( a ) { return parseFloat(a); },
        'scientific-asc': function ( a, b ) {
          return ((a < b) ? -1 : ((a > b) ? 1 : 0)); },
        'scientific-desc': function ( a, b ) {
          return ((a < b) ? 1 : ((a > b) ? -1 : 0)); }
      }); // extend dataTableExt.oSort with these properties

    $(document).ready(function() {
      var shown   = 100;  // paginate after this many records
      var chrcol  = 0;    // "Chr" column (chromosome w/ the interesection)
      var fromcol = 1;    // "From" column (beginning coord of the intersection)
      var truncbtn     = $('#trunctoggle');
      var constrainbtn = $('#constraintoggle');
      // Only show this message if JavaScript loaded (Firefox won't even
      // display this anyway, because all the DOM updates seem to get deferred
      // until after DataTables is finished)
      //$('#message').text('Computing column widths...');

      var dt = $('#results-table').dataTable(
        {
          // Sort on the 2nd column, ascending, using custom sort functions 
          // defined above. Careful now: aoColumnDefs is an ARRAY of objects!
          //'aoColumnDefs':   [{ 'sType': 'scientific', 'aTargets': [sortcol] }],
          'aaSorting':      [[ chrcol, 'asc' ], [ fromcol, 'asc' ]],
          // Hide the "Score" and "Strand" columns by default
          'aoColumnDefs':   [ { 'aTargets': [ 4, 5, 12, 13 ],
                                'bVisible': false },
                              { 'aTargets': [ 0, 1, 2 ], 
                                'mRender':  UCSCutils.wrap_location_with_link } ],
          'iDisplayLength': shown,
          'aLengthMenu':    [[25, 50, 100, 500, 1000, -1],
                             [25, 50, 100, 500, 1000, "All"]],
          'bPaginate':      true,
          'bAutoWidth':     false,
          'sDom':           'lfT<"clear">trip<"clear">',
          //'sDom':           'lfTtrip',
          'oLanguage':      { 'sSearch': 'Filter results:' },
          'oTableTools':    { sSwfPath: "/assets/vendor/tt/swf/copy_csv_xls_pdf.swf" }
        }); // .datatable()

      // Rig up the "expander" controls for the stdout/stderr callouts
      $('.callout-expander').click( function(e) {
        if ($(this).parent().hasClass('compressed')) {
          $(this).parent().removeClass('compressed').addClass('expanded');
        }
      });

      // Wire up the show/hide link for all "collapsers" on the page:
      var collapsers = document.getElementsByClassName('collapser');
      Array.prototype.forEach.call(collapsers, function(collapser) {
        Array.prototype.forEach.call(collapser.childNodes, function(el) {
          // Find the first element with an ID of 'something-toggle' and add click
          // handlers to the element ID 'something':
          if (el.id === undefined) { return; }
          var idMatch = el.id.match(/(.*)-toggle/);
          if (idMatch !== null) {
            document.getElementById(el.id).onclick = function(evt) {
              evt.preventDefault();
              showHide(idMatch[1]); // m[1] is the first captured pattern
            };
          }
        }); // for each child node
      }); // for each '.collapser' element

      // Wire up controls for constraining/unconstraining the output table
      // -----------------------------------------------------------------
      // The "wrap/truncate" toggle starts in the "truncated" state; the 
      // "constrain/unconstrain" button starts in the "constrained" state
      var truncToggleLabels = {
        'onLabel' : 'Truncate cells',
        'onTitle' : 'Truncate cell contents when they exceed column width',
        'offLabel': 'Wrap cells',
        'offTitle': 'Wrap cell contents when they exceed column width'
      };

      var constrainToggleLabels = {
        'onLabel' : 'Constrain table',
        'onTitle' : 'Constrain table to 100% of the viewport width (fit width)',
        'offLabel': 'Unconstrain table',
        'offTitle': 'Allow table width to extend beyond viewport (use horizontal scrollbar)'
      };

      // Just in case I forget in the HTML...
      dt.addClass('truncated');
      dt.addClass('constrained');

      // Add the default button labels and tooltips ('title' attributes)
      truncbtn.attr('title', truncToggleLabels.offTitle);
      truncbtn.text(truncToggleLabels.offLabel);

      constrainbtn.attr('title', constrainToggleLabels.offTitle);
      constrainbtn.text(constrainToggleLabels.offLabel);

      // rig up the buttons' 'onclick' events:
      tieToggleButton(truncbtn, dt, 'truncated', truncToggleLabels);
      tieToggleButton(constrainbtn, dt, 'constrained',
        constrainToggleLabels);

      // First, turn off pagination and redraw the table. This allows
      // addTooltips() to compute cell sizes for the *whole* table, not just
      // first "page" of results shown by DataTables:
      //dt.fnSettings()._iDisplayLength = -1;
      //dt.fnDraw();

      // Add 'title=' attributes to truncated cells. This takes an
      // excruciatingly long time for more than several hundred rows.
      addTooltips(dt);

      // Finally, limit the number of records shown again
      //dt.fnSettings()._iDisplayLength = shown;
      //dt.fnDraw();

      // Update the "Computing..." message
      $('#message').text('Done.');
      window.setTimeout(function() {
        $('#message').text('Hint: mouse over truncated cells to view their contents.');
      }, 1500);
    }); // $(document).ready()

  </script> <!-- jQuery dataTableExt -->
{% endblock %}
