    <p>
      A <a href="http://www.cincinnatichildrens.org/research/divisions/a/genomics-etiology/labs/weirauch/default/" 
        title="Weirauch Research Lab">Weirauch Research Lab</a> Production
     (<a href="https://bitbucket.org/weirauchlab/tf-tools-cressint"
       title="Source code repository on Bitbucket">source code</a>)
{#-
      <a href="https://bitbucket.org/weirauchlab/tf-tools-cressint/issues"
       title="Bitbucket issue tracker">Issue tracker</a>
-#}
    </p>
    
    <p>
	   &copy;{{ now|date('Y') }} Cincinnati Children's Hospital
       Medical Center<br>
       3333 Burnet Avenue, Cincinnati, Ohio 45229-3039
    </p>
