    <a href="http://www.cchmc.org" target="_blank"><img
     src="/images/header_logo.gif" alt="CCHMC logo"></a>
    <!-- IE's in-engine PNG scaling is terrible, so this needs to be
         pre-scaled if it's going to look right -->
    <div id="cressint-logo">
      <img src="/cressint/img/thale_cress_96px.png">
    </div>
    <div id="toolname">	 
      {% if headerh1 is empty %}
      <h1>
        <a title="Return to the {{ propername ?: toolname }} main page"
         href="/{{ toolname }}">{{ propername ?: toolname }}</a>
      </h1>
      {% else %}
      <h1>{{ headerh1|raw }}</h1>
      {% endif %}
      <h3><!--a href="/" title="Back to all TF tools"-->
        <em>A. thaliana</em> functional genomics intersection tool</h3>
    </div>
