    <form id="inputform" name="inputform" method="post" accept-charset="UTF-8"
     enctype="multipart/form-data" action="cressint.cgi"> <!--target="_blank"-->
      <input type='hidden' id='formkey' name='formkey' value='{{ formkey }}' />

      <fieldset id="intro" style="display:none">
        <legend>What is <em>CressInt</em> ?</legend>
        <p>
          <em>CressInt</em> is a web resource for exploring gene regulatory
          mechanisms in <em><a href="https://www.arabidopsis.org/portals/education/aboutarabidopsis.jsp">
          A. thaliana</a></em> on a genomic scale. CressInt incorporates a
          variety of genome-wide data types relevant to gene regulation,
          including transcription factor (TF) binding site models, ChIP-seq,
          DNase-seq, eQTLs, and GWAS. Examples uses of CressInt are: (1)
          Identify TFs binding to the promoter of a gene of interest; (2)
          identify genetic variants that are likely to impact TF binding based
          on a ChIP-seq dataset; and (3) identify specific TFs whose binding
          might be impacted by phenotype-associated variants.
        </p>
        <p>
          More information about supported input formats and general usage can
          be found on the <a href="/cressint/faq.php">Help and FAQs</a> page.
          See the associated manuscript and the "Case Study" buttons below for
          specific examples. The associated manuscript, submitted to
          <em>Current Plant Biology</em> in September 2015, may be <a
          href="http://www.sciencedirect.com/science/article/pii/S2214662815000110?np=y">
          read online</a>.
        </p>
        <button id="ok-got-it" style="float:right">OK, got it!</button>
      </fieldset>

      <p style="float:left">
        <input id="resetbtn-top" type="reset" value="Reset form"
          title="Clear all input parameters and start over">
      </p>
      <p style="float:right">
        <input disabled="disabled" id="case-study-1" type="button"
          value="Case Study #1" title="Case Study 1: Identifying TF binding sites likely to be affected by genetic variants in the promoter of gene AGL20">
          <input disabled="disabled" id="case-study-2" type="button"
          value="Case Study #2" title="Case Study 2: Identifying genetic variants likely to affect the binding of PIF1/PIL5 sites">
        <input disabled="disabled" id="case-study-3" type="button"
          value="Case Study #3" title="Case Study 3: Identifying TF binding sites likely to be affected by genetic variants associated with the 'FT_field' phenotype.">
      </p>
      <div style="clear:right"></div>

      <fieldset id="modeselection">
        <legend>Analysis mode</legend>
        <ul style="list-style-position:outside">
          <li><strong>Intersect</strong>: Intersect input coordinates with 
            selected datasets.</li>
          <li><strong>Find TF/SNPs</strong>: Identify SNPs within input coordinates,
            and the transcription factors whose binding they might
            affect.</li>
          <li><strong>Phenotypes to TF/SNPs</strong>: Identify SNPs associated
            with phenotypes of interest, and the transcription factors whose
            binding they might affect.</li>
        </ul>

        <p>
          <input id="mode1-radio" type="radio" name="mode-selector"
            value="mode1" checked="checked">
          <label for="mode1-radio">Intersect</label>

          <input id="mode2-radio" type="radio" name="mode-selector"
            value="mode2" title="SNPs and associated TFs in region">
          <label for="mode2-radio">Find TF/SNPs</label>

          <input id="mode3-radio" type="radio" name="mode-selector"
            value="mode3" title="SNPs and TFs associated with Phenotypes">
          <label for="mode3-radio">Phenotypes to TF/SNPs</label>
        </p>
      </fieldset>

      <fieldset id="inputvalues">
        <legend>Input values</legend>
        <div class="fieldgroup">
          <div class="alignedgroup">
            <table>
              <tr>
                <td id="input-type-cell" width="50%" valign="top">
                  <label for="coord-type">Input type:</label>
                  <p>
                    <input id="input-type-coords" name="input-type-selector"
                     value="coords" type="radio" checked="checked">
                    <label for="input-type-coords">Genomic coordinates</label>

                    <input id="input-type-names" name="input-type-selector"
                     value="gene-names" type="radio">
                    <label for="input-type-names"
                     title="Newline-separated. Try BT4, AT5TE96830, AT1G01010, and AtPPa1">
                      Gene names</label>

                    <input id="input-type-fasta" name="input-type-selector"
                     value="fasta" type="radio" disabled="disabled">
                    <label for="input-type-fasta" style="color:#cfcfcf"
                     title="Direct FASTA input is not yet implemented">
                      FASTA sequence(s)</label>
                  </p>
                </td>
              </tr> <!-- /input type selector -->
              <tr>
                <td id="coords-cell" width="50%" valign="top">
                  <label for="coords" id="lbl-input-coords" title="">
                    Enter list of genomic coordinates:<br>
                    (<a href="https://www.arabidopsis.org/" target="_blank" title="Open the
                    Arabidopsis Information Resource in a new
                    window">TAIR</a> build {{ tairbuild | default('10') }})<br>
                    <small>3, 4, 5, or 6-column<br>BED format</small>
                  </label>
                  <label for="coords" id="lbl-input-gene-name"
                    style="display:none" title="">
                    Enter list of gene names:<br><small>(one gene ID per line)</small>
                  </label>
                  <label for="coords" id="lbl-input-fasta"
                    style="display:none" title="">
                    Enter FASTA sequence(s):
                  </label>
                  <p>
                    <input type="text" name="find-gene-names" id="find-gene-names"
                     style="width:100%;display:none"
                     title="Auto-completing search for gene names. Press ENTER to add to the input box."
                     placeholder="Search for gene names">
                  </p>
                  <p><textarea id="coords" name="coords" rows="5"></textarea></p>
                  <!-- <p><input type="file" id="coords-file" name="coords-file"></p> -->
                  <p>
                    <input id="samplebtn" type="button" value="Load Sample Data">
                    <div style="float:right">
                      <small class="subtle">Our apologies: file uploads are
                        (temporarily) disabled.</small>
                    </div>
                  </p>
                </td>
              </tr>
              <tr>
                <td id="pheno-cell" valign="top" style="display:none">
                  <label for="Phenotypes" title="">
                    Choose phenotype(s):
                  </label>

                  <!-- Phenotypes select box -->
                  <p><select id="phenotypes" name="phenotypes" size="6" multiple>
                    {#-

                       The "|e" part is a "filter" that just HTML-escapes the
                       text. Whitespace control (how you keep your HTML source
                       from looking like a computer crapped it out) exists in
                       Twig, but I am constantly frustrated by it.

                       See also : http://twig.sensiolabs.org/doc/tags/for.html

                    #}
{% for p in phenotypes %}
                    <option title="{{ p[1]|e }}" value="{{ p[0]|e }}">
                     {{ p[0]|e }}</option>
{% endfor %}
                  </select></p>
                <!--/td-->
                <!--td-->
                  <div id="pheno-explain">
                    <p>Choose phenotypes to identify associated SNPs, and the transcription
                      factors whose binding they might affect.</p>
                    <p><small>Selecting a phenotype from the list at the left will
                      show an extended description here.</small></p>
                  </div>
                </td>
              </tr>
            </table>
          </div> <!--/.alignedgroup-->
        </div> <!--/.fieldgroup-->
      </fieldset> <!--/#inputvalues-->

      <fieldset id="params">
        <legend>Parameters</legend>
        <div class="fieldgroup" id="cells">
          <p style="display:none;"><em>Lines</em> refer to genomic data sets
            from distinct experiments or tissue types. "Any" refers to a data
            sets with no tie to a specific experiment, phenotype, or tissue type
            (<em>e.g.</em>, the GWAS data set or SNP list)</p>

          <!-- assets/js/showhide.js adds and removes the "collapsed" class -->
          <div class="collapser collapsed">
            <h4 id="promoter-toggle"
             title="Options to scan the promoter region or only the gene body and add additional upstream/downstream bases to the intersection region">
             Promoter region and upstream/downstream bases</h4>
            <div class="collapser-section alignedgroup" id="promoter">
              <label for="scan-promoter" title="Coordinates relative to transcription start site? (If unchecked, coordinates are relative to the gene body.)">
                Coordinates relative to TSS?: </label>
              <p><input type="checkbox" id="scan-promoter" title="Coordinates relative to transcription start site? (If unchecked, coordinates are relative to the gene body.)"
                name="scan-promoter"></p>

              <label for="up-bases">Add upstream/downstream: </label>
              <p>
              <input type="number" id="up-bases" name="up-bases" size="6"
               value="{{ defaultupbases }}" min="0" max="100000" step="500"
               pattern="1?[0-9]{6}"> /
              <input type="number" id="down-bases" name="down-bases" size="6"
               value="{{ defaultdownbases }}" min="0" max="100000" step="500">
                <em> (default: -{{ defaultupbases }}
                  / +{{ defaultdownbases }} relative to <span id="rel-to">gene
                  body</span>)</em>
              </p>
            </div> <!-- /.collapser-section, alignedgroup -->
          </div> <!-- /.collapser -->

          <div class="collapser collapsed">
            <h4 id="cell-lines-toggle"
              title="&quot;Lines&quot; refer to genomic data sets from distinct experiments or tissue types. &quot;Any&quot; refers to a data sets with no tie to a specific experiment, phenotype, or tissue type (e.g., the GWAS data set or SNP list)">
              Select/deselect specific tissues or cell lines</h4>

            <div id="cell-lines">
              <table>
                <thead>
                  <tr>
                    <th>Available Lines</th>
                    <th></th>
                    <th>Selected Lines</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <!-- Leaving off the 'name=' attribute causes ajax.js
                           to ignore this field during __processForm() -->
                      <select id="available-lines" size="10" style="width:200px" multiple>
    {% for l in lines %}
                        <option value="{{ l|e }}">{{ l|e }}</option>
    {% endfor %}
                      </select>
                    </td>

                    <td>
                      <button class="addremovebtn" id="add-selected-lines">&raquo;</button>
                      <br><br>
                      <button class="addremovebtn" id="remove-selected-lines">&laquo;</button>
                    </td>

                    <td>
                      <select id="selected-lines" name="selected-lines" size="10"
                        style="width: 200px" multiple>
                      </select>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Select <a href="#available-lines" id="select-all-available-lines">all</a>,
                      <a href="#available-lines" id="deselect-all-available-lines">none</a>
                    </td>
                    <td> </td>
                    <td>
                      Select <a href="#selected-lines" id="select-all-selected-lines">all</a>,
                      <a href="#selected-lines" id="deselect-all-selected-lines">none</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /#cell-lines -->

          </div> <!-- /.collapser -->

          <div class="collapser collapsed">
            <h4 id="options-toggle"> Select/deselect specific data sets ("tracks")</h4>

            <div id="options">
              <table id="tracks">
                <thead>
                  <tr>
                    <th>Available Tracks</th>
                    <th></th>
                    <th>Selected Tracks</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <!-- Leaving off the 'name=' attribute causes ajax.js
                           to ignore this field during __processForm() -->
                      <select id="available-tracks" size="10" style="width: 200px" multiple>
{% for t in tracks %}
                    <option value="{{ t|e }}">{{ t|e }}</option>
{% endfor %}
                      </select>
                    </td>

                    <td>
                      <button class="addremovebtn" id="add-selected-tracks">&raquo;</button>
                      <br><br>
                      <button class='addremovebtn' id="remove-selected-tracks">&laquo;</button>
                    </td>

                    <td>
                      <select id="selected-tracks" name="selected-tracks" size="10" style="width: 200px" multiple>
                      </select>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Select <a href="#available-tracks" id="select-all-available-tracks">all</a>,
                      <a href="#available-tracks" id="deselect-all-available-tracks">none</a>
                    </td>
                    <td> </td>
                    <td>
                      Select <a href="#selected-tracks" id="select-all-selected-tracks">all</a>,
                      <a href="#selected-tracks" id="deselect-all-selected-tracks">none</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /#options -->
          </div> <!-- /.collapser -->
        </div> <!--/.fieldgroup-->
      </fieldset> <!--/#params-->

      <fieldset id="jobdetails">
        <legend>Job details</legend>
        <div class="fieldgroup">
          <div class="alignedgroup">
            <label>Job name (<i>optional</i>)</label>
            <p>
              <input type="text" id="jobname" name="jobname" value="" size="30"
                placeholder="{{ propername }} job #{{ formkey }}"
                title="Give this submission a name so you can identify it later">
              <span style="color:grey">&nbsp;alphanumerics and
              <tt>_.+-@:?!()</tt> are allowed</span>
            </p>

{%- if devserver -%}
            <label>Notification email (<i>optional</i>)</label>
            <p>
              <input type="text" id="email" name="email" value="" size="30"
                placeholder="First.Last@cchmc.org"
                title="Email when LSF job is complete (CCHMC users may leave off domain part)">
              <!--span style="color:grey">&nbsp;receive an email when
              long-running jobs finish</span-->
            </p>
{%- endif -%}
          </div> <!-- /.alignedgroup -->
        </div> <!--/.fieldgroup-->
      </fieldset> <!--/#jobdetails-->

      <fieldset id="formbuttons">
        <div class="callout callout-danger validation concealed" id="valid-msg">
        </div>

        <p><input id="submitbtn" type="Submit" value="Submit">
           <input id="resetbtn" type="Reset" value="Reset">
           <!--img id="spinner" src="/images/wait30.gif" style="display:none"-->
           <span id="spinner">Submitting job to cluster...</span></p>
      </fieldset> <!-- /#formbuttons -->
    </form> <!--/name="entries"-->
