{#################################################
 #
 #    
 #    Twig template for Cressint update.html.twig
 #
 #    Authors:    K. Ernst, F. Soman
 #
 #################################################}
 {# /var/www/twig/tftool.html.twig #}
{% extends 'tftool.html.twig' %}

{% block headassets %}
{# All the regular CSS and JavaScript assets #}
{{ parent() }}
{# Input form-specific CSS and JavaScript (Formalize, sampledata.js, etc.) #}
  <link rel="stylesheet" type="text/css" href="css/cressint.css">    
{% endblock %}

{% block nav %}
{% include 'nav.html.twig' %}
{% endblock %}


{% block main %}
<div class="info-list">
  <h1>CressInt Update Log</h1>
  <dl>
{# TODO: Fix this in CSS, don't just slap on an H2 #}
    <dt><h2 id="build_1.1">Build 1.1<h2></dt>
    <dd>
      Added in 17 new ChIP-seq datasets for FLC, AP1, AGL-15, FUS3, AP2, BES1,
      EIN3, FHY3, FLM, PIF4, PIF5, PRR7, SMZ, SOC1, SVP, GTL1, and PRR5. See
      the "<a href="/cressint/datasources.php">Available Datasets</a>" page
      for details.
    </dd>
    <dt><h2 id="build_1.0">Build 1.0<h2></dt>
    <dd>
      Version 1.0 of <em>Aradopsis thaliana</em> CressInt Transcription Factor
      Tool with <a
        href="http://www.sciencedirect.com/science/article/pii/S2214662815000110?np=y">associated
        publication</a>.
    </dd>
  </dl>
</div> <!-- /.info-list -->

{% endblock %}
